body {
    font-family: 'Poppins', sans-serif;
}

#jumbotron {
    padding-top: 200px;
    background-image: url("img/jumbo-background.jpg");
    background-size: cover;
}

#partner-logos, #deploy, #developers, #business,  #reviews, #cta, #footer {
    padding-top: 80px;
    padding-bottom: 80px;
}

#partner-logos h2 {
    font-size: 14px;
    padding-bottom: 5px;
}

#business h2 {
    padding-bottom: 50px;
}

#partner-logos a {
    font-size: 16px;
    font-weight: bold;
    color: #0069ff;
}

#deploy h3 {
    margin-top: 0;
    padding-bottom: 15px;
}

#deploy p {
    font-size: 16px;
    padding-bottom: 50px;
}

#jumbotron p {
    color: rgba(3, 27, 78, .7);
    font-size: 24px;
}

#developers img {}

#developers .piccolo {
    font-size: 16px;
}

#business p {
    font-size: 19px;
    margin: 0 0 16px;
}

#business .p-detail {
    color: #0069ff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

#business .p-detail:after {
    content: "\f054";
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    vertical-align: middle;
}

#partner-logos a:after {
    content: "\f054";
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    vertical-align: middle;
}

.business-wrapper {
    padding-bottom: 40px;
}

#service {
    background: #031b4e url("https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 120px;
}

#service h2 {
    font-size: 30px;
    color: white;
    padding-bottom: 60px;
}

#business h3 {
    margin-top: 18px;
    margin-bottom: 18px;
}

#footer, #footer-bottom {
    background-color: #010e28;
}

#footer a {
    font-size: 14px;
    color: hsla(0, 0%, 100%, .5);
    display: block;
    padding-bottom: 10px;
}

#footer h4 {
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer-bottom hr {
    border: 1px solid hsla(0, 0%, 100%, .5);
}

#footer-bottom p {
    color: hsla(0, 0%, 100%, .5);
    font-size: 14px;
}

#cta {
    background-image: url("img/jumbo-background.jpg");
}

#cta h2 {
    font-size: 30px;
    color: white;
    padding-bottom: 20px;
}

.footer-wrapper {}

h1 {
    font-size: 55px;
    font-weight: bold;
    color: white;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    color: #031b4e;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: #031b4e;
}

p {
    font-size: 20px;
    color: rgba(3, 27, 78, .7);
}

.navbar-brand>img {
    height: 50px;
    padding: 0;
}

.navbar-brand {
    float: left;
    height: 100px;
    padding: 0;
    padding-left: 15px;
    padding-right: 30px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-default.navbar {
    margin-bottom: 0;
}

.imgwrapper img {
    width: 150px;
    height: 100px;
    object-fit: contain;
}

.btn.btn-default.btn-lg {
    color: #0069ff;
    padding-left: 30px;
    padding-right: 30px;
}

.list-group-item {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 2px solid #e5e8ed;
    font-size: 16px;
    padding: 17px 10px 17px 30px;
    color: rgba(3, 27, 78, .7);
}

.list-group-item:first-child {
    border-left-color: #0069ff;
    color: #031b4e;
    font-weight: bold;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 11px 10px 10px;
        border-top: 1px solid hsla(0, 0%, 100%, .5);
}

.flight-code {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.flight-cities {
    color: hsla(0, 0%, 100%, .5);
    font-size: 13px;
}

.flight-speed a {
    color: #00d7d2;
    font-size: 13px;

}

.flight-speed {
    text-align: right;
}

.flight-speed a:after {
    content: "\f054";
    padding-left: 5px;
    font-size: 8px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    vertical-align: middle;
}

.flight-speed a:hover {
    cursor:pointer;
    color: #0069ff;
}
